<template>
	<view class="pages">
		<view class="cells u-flex u-border-bottom" >
			<view class="label">二维码</view>
			<u-input v-model=" code" class="u-flex-1 cellsInput" clearable placeholder="请输入二维码编码"
				type="text" />
			<view class="actions u-flex-y" @click="_scanCode">
				<u-icon name="scan" color="#4bcb1a" size="40"></u-icon>
			</view>
		</view>
		
		<view v-if="currentCode">
			<view class="self ">
				<view class="u-flex">
					<view  class="u-flex-1">
						查询编码：{{currentCode.code}}
					</view>
					<text>类型：{{currentCode.type==1?'大码':'小码'}}</text>
				</view>
				
			</view>
			<view v-if="currentCode.small_codes">
				<view v-for="(item,index) in currentCode.small_codes" :key="index" class="uploadItem">
					<view class="itemheader u-flex ">
						<view class="titlle">编码：<text> {{item.code}}</text></view>
						<view class="u-flex-1"></view>
						<view>  
							小码		
						</view> 
					</view> 
					 
				</view>
				
			</view>
			
		</view>
		<u-empty
		v-else
		        mode="data" 
		>
		</u-empty>	
	</view>
</template>

<script>
	export default {
		data() {
			return {
				code:'',
				currentCode:null
			};
		},
		methods:{
			//扫码
			_scanCode() { 
				this._checkCode('181000373')
				// this._checkCode('IW7PUJD63BWPLNFVGE7M')
				return;
				let that = this;
				uni.scanCode({
					success: function(res) {
			
						console.log('条码内容：' + res.result);
			
						if (res.result) {
							let ress = res.result.split('code=')
							console.log('code：' + ress[1]);
							if (ress[1]) {
								// that.code = ress[1];
								that._checkCode(ress[1])
							}
			
						}
			
			
					}
				});
			
			},
			
			// 验证 订单码
			async _checkCode(code) {
				let that = this
				try {
					this.$ui.showloading()
					const res = await this.$api.Business.get_codeDetail(code)
					this.$ui.hideloading()
					console.log(res)
					 this.currentCode = res
					
				} catch (e) {
					// 10001是已出库，
					// 10002 未查询到码信息
					this.$ui.hideloading()
					uni.showToast({
						title: e && e.message? e.message:JSON.stringify(e),
						icon: 'error',
						duration: 2000
					})
					console.log('e', e)
					this.currentCode = null
			
				}
				// this.$ui.hideloading()
			},
		}
	}
</script>

<style lang="scss" scoped>
	.pages{
		// padding-top: 40rpx;
		position: relative;
		.cells{
			background: #fff;
			// border-radius: 16rpx;
			padding: 0 20rpx;
			margin-bottom: 16rpx;
			position: sticky;
			width: 100%;
			left: 0;
			top: 0;
		}
		.self{
			    margin: 0 16rpx ;
			    margin-bottom: 16rpx ;
			    padding: 16rpx ;
			    background: #4bcb1a;
			    border-radius: 8rpx ;
				color: #fff;
				position: sticky;
				// width: 100%;
				left: 0;
				top: 80rpx;
		}
		.uploadItem {
			background-color: #fff;
			padding: 0 16rpx;
			border-radius: 10rpx;
			// margin-bottom: 16rpx;
			margin: 0 16rpx 16rpx 16rpx;
		
			.itemheader {
				padding: 32rpx 0;
			}
		
			.itemBody {
				padding: 16rpx 0;
		
				.itemcells {
					line-height: 40rpx;
				}
			}
		
			.itemfooter {
				padding: 16rpx 0;
			}
		}
	}
</style>
