<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>


<style lang="scss">
	@import "common/animate.css";
	@import "@/uni_modules/uview-ui/index.scss";

	/*每个页面公共css */
	.pages {
		width: 100vw;
		min-height: 100vh;
		background-color: #F6F6F6;
		font-size: 2rpx;
	}

	body {
		background: #f6f6f6;
		font-family: PingFangSC-Regular, Microsoft YaHei, sans-serif;
	}

	view,
	text {
		line-height: 1;
		font-size: 26rpx;
		box-sizing: border-box;
	}
	
	.block {
		width: 100%;
		display: block;
	}
	.u-flex{
		display: flex;
		display: -webkit-flex; 
		justify-content: center;
		align-items: center;
	}
	.u-flex-y{
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.u-flex-1{
		flex:1
	}
	.u-flex-2{
		flex:2
	}
	.u-border-bottom{
		border-bottom: 1rpx  solid  #f2f2f2;
	}
	.cm_uniNums {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: flex-end;

		.cm_nums {
			color: #DD3A30;
			font-size: 40rpx;
			font-weight: 600;
		}

		.cm_unit {
			color: #DD3A30;
			font-size: 22rpx;
			padding-bottom: 10rpx;
		}
	}
	.nav-title{
		    color: rgb(96, 98, 102);
		    font-size: 16px;
		    font-weight: normal;
			text-align: center;
	}
	.cm_time{
		color: #999;
		font-size: $u-font-sm;
	}
	.cm_full {
		width: 100%;
		height: 80vh;
	}
	.cm_inputs{
		width: 100%;
		height: 70rpx;
		line-height: 70rpx;
	}
	
	// 客户条目
	.cm_customerItems {
		background-color: #fff;
		padding: 0 20rpx;
		border-radius: 12rpx;
		margin-bottom: 16rpx;
	
		.itemTitleBox {
			// height: 30rpx;
			line-height: $u-font-lg;
			padding-top: 34rpx;
			margin-bottom: 22rpx;
	
			.itemTitleItems {
				margin-bottom: 32rpx;
	
				.label {
					width: 144rpx;
					text-align: left;
					color: #8C8C8C;
	
				}
			}
	
			.itemTime {
				font-size: $u-font-sm;
				color: #666666;
			}
		}
		.itemContent {
			padding: 24rpx 0;
	
			.synacBtns {
				margin-left: 16rpx;
			}
		}
	
		.divider {
			margin-top: 24rpx;
			width: 100%;
			height: 1rpx;
			background-color: #E5E5E5;
		}
	
		.texts {
			color: #999999;
		}
	}
	.cm_boxs{
		border-radius: 12rpx;
		background: #fff;
		padding:  0 20rpx;
		.cm_title{
			.title{
				font-weight: 600;
				font-size: $u-font-lg;
				color: #333;
			}
		}
	}
	.u-dropdown__content__popup{
		height: 100%!important;
	}
	.u-radio__icon-wrap--disabled {
	    background-color: #c3c3c3;
	    border-color: #c8c9cc;
	}
	.success {
		color: #00BE00;
		line-height: 2;
	}
	
	.error {
		color: red;
		line-height: 2;
	}
</style>

