<template>
	<view class="pages aniamted fadeIn">
		<view class="title"> 出入库管理</view>
		<view class="cm_boxs u-flex">
			<view class="navBars u-flex" @click="_nav('ins')">
				<image src="../../static/zmu/jy_cd.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					入库管理
				</view>
			</view>
			<!-- <view class="navBars u-flex" @click="_nav('smaIns')">
				<image src="../../static/zmu/jy_cj.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					小码入库管理
				</view>
			</view> -->
			<!-- <view class="navBars u-flex">
				<image src="../../static/zmu/jy_td.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					小码出库管理
				</view>
			</view> -->
			<view class="navBars u-flex"  @click="_nav('out')">
				<image src="../../static/zmu/jy_yg.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					出库管理
				</view>
			</view>
			<view class="navBars u-flex"  @click="_nav('insLogs')">
				<image src="../../static/zmu/jy_yj.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					入库记录
				</view>
			</view>
			<view class="navBars u-flex" @click="_nav('outLogs')">
				<image src="../../static/zmu/yd_gj.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					出库记录
				</view>
			</view>
		</view>
		<view class="title"> 二维码工具</view>
		<view class="cm_boxs u-flex">
			<view class="navBars u-flex" @click="_nav('codeCheck')">
				<image src="../../static/zmu/sy_xx.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					关联查询
				</view>
			</view>
			<view class="navBars u-flex">
				<image src="../../static/zmu/yd_xs.png" class="icons" mode="scaleToFill"></image>
				<view class="u-flex-1">
					二维码防伪
				</view>
			</view> 
			
		
		</view>
		<button type="default" @click="_out">退出</button> 
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: '委屈翁群无'
			}
		},
		onLoad() {

		},
		methods: {
			_nav(url){
				uni.navigateTo({
					url:`/pages/${url}/index`
				})
			},
			_out(){
				this.$store.commit('userLoginOut')
			}
		}
	}
</script>

<style scoped lang="scss">
	.pages {
		background-color: #fff;

		.title {
			line-height: 3;
			font-size: 32rpx;
			font-weight: 600;
			color: #424242;
			padding: 0 20rpx
		}

		.cm_boxs {
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			.navBars {
				width: 330rpx;
				// height: 160rpx;
				border: 1px solid   #e4e3e3;
				border-radius: 20rpx;
				padding: 20rpx;
				margin: 10rpx 0;
				background-color: #f1f1f1;
				.icons {
					width: 100rpx;
					height: 100rpx;
					border-radius: 50%;
					margin-right: 16rpx;
				}
			}
		}
	}
</style>
