<template>
	<view>
		<u-loading-page :loading="loading" ></u-loading-page>
		<view class="pages aniamted fadeIn" v-if="!loading">
			<view class="header   u-flex">
				<u-avatar src="../../static/logo.png" :size="100" mode="square"></u-avatar>
			</view>
		
			<view class="box">
				<u-form :model="loginParams" :rules="rules" ref="uForm" label-width="50">
					<view class="inputs u-flex">
						<image src="../../static/img/dl_sj.png" class="icons" mode="scaleToFill"></image>
						<view class="u-flex-1">
							<u-form-item prop="mobile" :border-bottom="false">
								<u-input v-model="loginParams.telephone" placeholder="请输入手机号码" type="number"
									border="bottom" />
							</u-form-item>
						</view>
					</view>
					<view class="inputs u-flex">
						<image src="../../static/img/dl_ma.png" class="icons" mode="scaleToFill"></image>
						<view class="u-flex-1">
							<u-form-item prop="mobile" :border-bottom="false">
								<u-input v-model="loginParams.password" type="password" placeholder="请输入有效密码"
									border="bottom" />
							</u-form-item>
						</view>
					</view>
		
				</u-form>
				<!-- <u-verification-code ref="uCode" @change="codeChange"></u-verification-code> -->
		
				<u-button shape="circle" @click="submit" :custom-style="{width:'100%',marginBottom:'32rpx'}" type="primary">
					立即登录</u-button>
		
		
				<view class="footer cm_text u-flex">
					<text>过江龙有限公司提供</text>
					<!-- <navigator url="../../features/aboutUs/aboutUs" style="color: #ec6133;">《用户协议、隐私政策》</navigator> -->
				</view>
			</view>
			<u-notify ref="uNotify" message="Hi uView"></u-notify>
			<u-toast ref="uToast" />
		</view>
	</view>
	

</template>

<script>
	import SET from '@/SET.js';
	import http from '@/common/http/index.js'
	export default {
		data() {
			return {
				loginParams: {
					"telephone": "18760424041", //手机号 
					"password": "123456", //密码 
				},
				invideMsg: '',
				codeText: '',
				rules: {
					telephone: [{
						required: true,
						message: '请输入账户',
						// 可以单个或者同时写两个触发验证方式 
						trigger: ['blur'],
					}, ],
					password: [{
							required: true,

							message: '请输入有效密码，6位以上',
							// 可以单个或者同时写两个触发验证方式 
							trigger: ['blur'],
						},
						{
							min: 6,
							message: '长度在6位以上',
							trigger: ['blur'],
						},
					]
				},
				loading:true,
			};
		},
		onReady() {
			 
		},
		onLoad() {
			let that = this
			const token =  uni.getStorageSync(SET.tokenName)
			if(token){
				//自动登录一次
				// this.$store.dispatch('refreshUser')
				this._user()
			}else{
				this.loading = false
			}
		},
		methods: {
			async _user(){
				let  that = this
				try{
					let res =  await  this.$api.Auth.userInfo()
					that.$store.commit('userLogin');
					// that.loading = false	
					
					uni.redirectTo({
						url: '/pages/main/index'
					})
				}catch(e){
					//TODO handle the exception
					that.loading = false	
				}
			},
			submit() {
				// debugger
				// debugger
				let that = this
				this.$refs.uForm.validate().then(async res => {
					try {
						that.$ui.showloading()

						let res = await this.$api.Auth.userLogin(that.loginParams);
						
						that.$ui.hideloading()
						
						
						that.$store.commit('userLogin', res);
						let userInfo =  await  this.$api.Auth.userInfo()
						that.$store.commit('setUserInfo', userInfo);
						that.$ui.toast('登陆成功')
						setTimeout(()=>{
							uni.redirectTo({
								url: '/pages/main/index'
							})
						},500)
						
						// }
					} catch (err) {
						console.log('err',err)
						// that.$refs.uNotify.show({
						// 	title: '请完善表单信息',
						// 	type: 'warning',
						// 	duration: '1000'
						// })

					}
				}).catch(errors => {
					that.$refs.uNotify.show({
						title: '请完善表单信息',
						type: 'warning',
						duration: '1000'
					})
				})

			},

			codeChange(text) {
				this.codeText = text;
			},
			async getCode() {
				let that = this
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					uni.showLoading({
						title: '正在获取验证码'
					})
					if (!this.loginParams.mobile || !this.$u.test.mobile(this.loginParams.mobile)) {
						// this.$ui.toast('请输入正确的手机号码')
						this.$refs.uToast.show({
							title: '请输入正确的手机号码',
							type: 'warning',
							position: 'bottom'
						})
						uni.hideLoading()
						return;
					}
					let data = {
						mobile: this.loginParams.mobile,
						type: 2 //1,注册 2,登录 3,找回 4.银行卡 8-提现
					};
					try {
						let res = await this.$api.getVerificateCode(data);

						if (res.result === 1) {
							that.$refs.uCode.start();
							uni.hideLoading();
							that.$refs.uCode.start();
							that.$refs.uTips.show({
								title: '验证码发送成功',
								type: 'success',
								duration: '1000'
							})
						} else {
							uni.showToast({
								icon: 'none',
								title: res.msg ? res.msg : '发送失败',
							});
						}
					} catch (err) {
						console.log('请求结果false : ' + err)

					}

				} else {
					this.$u.toast('倒计时结束后再发送');
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.pages {
		background-color: #fff;
		width: 100vw;

		.u-form-item {
			padding: 10rpx 0;
		}

		.invideBox {
			height: 88rpx;
			line-height: 88rpx;
			border-radius: 156rpx;
			margin-bottom: 40rpx;
			background-color: #f1f1f1;
		}

		.header {
			height: 400rpx;
			width: 100vw;
		}

		.box {
			padding: 0 50rpx;

		}

		.inputs {
			// height: 88rpx;
			line-height: 88rpx;
			// border-radius: 44rpx;
			// background-color: #F7F7F7;
			margin-bottom: 32rpx;
			padding: 0 20rpx;
		}

		.icons {
			width: 36rpx;
			height: 36rpx;
			margin-right: 10rpx;
			margin-left: 10rpx;
		}

		.otherIcons {
			width: 80rpx;
			height: 80rpx;
			border-radius: 50%;
			margin-bottom: 16rpx;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 32rpx;
			width: 100vw;
			font-size: 22rpx;
		}
	}
</style>
