<template>
	<u-picker :show="show" v-if="columns.length" :columns="columns" keyName="name" @confirm="_confirm" @cancel="_hide"
		@change="_changeHandler"></u-picker>
</template>

<script>
	import http from '@/common/http/index.js'
	export default {
		data() {
			return {
				show: false,
				columns: []
			};
		},
		created() {
			this.getList()
		},
		methods: {
			_changeHandler(e) {
				const {
					columnIndex,
					value,
					values, // values为当前变化列的数组内容
					index,
					// 微信小程序无法将picker实例传出来，只能通过ref操作
					picker = this.$refs.uPicker
				} = e
				let arr = this.columns[0]
				console.log(index,columnIndex,arr[index].products)
				// 当第一列值发生变化时，变化第二列(后一列)对应的选项
				if(columnIndex==0){
						if(arr[index]){
							picker.setColumnValues(1, arr[index].products)
						}else{
							picker.setColumnValues(1, [])
						}
				}
			
				
			},
			async getList() {
				try {
					const res = await this.$api.Business.get_products();

					this.columns = [res, res[0].products]
					console.log('res', this.columns)
				} catch (e) {
					//TODO handle the exception
				}
			},
			_confirm(e) {
				console.log('pro', e)
				let result = e.value[1]
				this.$emit('success', {
					...result
				})
				this.show = false
			},
			_show() {
				this.show = true
			},
			_hide() {
				this.show = false
			}
		}
	}
</script>

<style lang="scss">

</style>
