<template>
	<u-picker :show="show" v-if="columns.length" :columns="columns" keyName="name" @confirm="_confirm"  @cancel="_hide"></u-picker>
</template>

<script>
		import http from '@/common/http/index.js'
	export default {
		data() {
			return {
				show:false,
				columns:[]
			};
		},
		created(){
		this.getList()
		},
		methods:{
			async getList(){
				try{
					const res =  	 await this.$api.Business.get_suppliers( ); 
					console.log('res',res)
					this.columns = [res.list]
				}catch(e){
					//TODO handle the exception
				}
			},
			_confirm(e){
				console.log(e)
				let result = e.value[0]
				this.$emit('success',{...result})
				this.show = false
			},
			_show(){
				this.show = true
			},
			_hide(){
				this.show = false
			}
		}
	}
</script>

<style lang="scss">

</style>
