<template>


	<view class="pages">

		<u-empty mode="list" v-if="lists.length==0 && !loading" />
		<view v-else>
			<view class="items " v-for="(item,index) in lists" :key="item.id" @click="_nav">
				<view class="item_header u-flex u-border-bottom">
					<view class="item_title">批次号码：{{item.batch_no}}</view>
					<view class="u-flex-1"></view>
					<view class="item_title u-flex">
						<text style="color:green">成功：{{item.codes.length-item.fail_all_codes.length}}</text>
						<view style="width: 16rpx;"></view>
						<text style="color:red" v-if="item.fail_all_codes.length">失败：{{item.fail_all_codes.length || 0}}</text>
					</view>
				</view>
				<view class="item_content">
					<view class="cells">订单数量：<view style="flex:1"></view>{{item.codes.length}} 件</view>
					<view class="cells">出库产品：<view style="flex:1"></view>{{item.product.name}} </view>
					<view class="cells">代理商：<view style="flex:1"></view>{{item.merchant.name}} </view>
					<view class="cells">出库仓库：<view style="flex:1"></view>{{item.depot.name}} </view>
					<view class="cells">供应商：<view style="flex:1"></view>{{item.supplier.name}} </view>
					
					<view class="cells">出库时间：：<view style="flex:1"></view>{{item.created_at}} </view>
				</view>

			</view>
			<u-loadmore :status="loading" />

		</view>
 
	</view>
</template>

<script>
	// import baseModal from '@/common/baseModal.js'
 

	export default {
		data() {
			return {
				guid: '--',
				 
				formData:{
					search:2,
					page:1,
					page_size:10,
				},
				loading:'loading',
				lists: [],
			}
		},
		// mixins: [
		// 	baseModal
		// ],
		onLoad() { 
			this._refresh()
		},
		components: {
		 
		},
		onPullDownRefresh(){
			this._refresh()
		},
		onReachBottom(){
			this._loadMore()
		},
		methods: {
			_refresh(){
				this.formData.page = 1;
				this._getList()
			},
			_loadMore(){
				if(this.loading=='nomore')return;
				this.formData.page+=1;
				this._getList()
			},
			
			async _getList(){
				try{
					this.loading = 'loading'
					const res = await this.$api.Business.get_logs(this.formData)
					// console.log(res)
					if(this.formData.page==1){
						this.lists = res.list
						uni.stopPullDownRefresh()
					}else{
						this.lists = this.lists.concat(res.list)
					}
					if(this.formData.page==res.last_page){
						this.loading = 'nomore'
						
					}else{
						this.loading = 'more'
					}
					
				}catch(e){
					//TODO handle the exception
				}
			},
			//picker选择项
			_nav(k) {
				// debugger
				 uni.navigateTo({
				 	url:'/pages/logsDetail/index'
				 })
			},
 
		}
	}
</script>

<style scoped lang="scss">
	.pages {
		padding: 20rpx;

		.items {
			background: #fff;
			border-radius: 16rpx;
			padding: 0 20rpx;
			margin-bottom: 16rpx;

			.item_header {
				height: 60rpx;
				line-height: 60rpx;
				.item_title{
					font-weight: 600;
				}
			}

			.item_content {
				padding: 12rpx 0;

				.cells {
					display: flex;
					line-height: 2;
					font-size: 24rpx;
					color: #666;
				}
			}
		}
	}
</style>
