<template>


	<view class="pages">
		
		<view class="items">
			<view class="item_header u-flex u-border-bottom">
				<view class="item_title">批次号码：是范德萨发都是</view>
				<view class="u-flex-1"></view>
				<!-- <view class="item_title u-flex">
					<text style="color:green">成功：9</text> 
					<view style="width: 16rpx;"></view>
					<text style="color:red">失败：1</text>
				</view> -->
			</view>
			
			<view class="item_content">
				<view class="cells">入库产品：是的发送到发 </view>
				<view class="cells">入库仓库：是的发送到发 </view>
				<view class="cells">供应商：是的发送到发 </view>
				<view class="cells">入库时间：是的发送到发 </view>
			</view>
			
		</view>	
		
		<view>
				<u-empty mode="list" v-if="lists.length==0 && !loading " />
				<view v-else>
					<view v-for="(item,index) in lists" :key="index" class="uploadItem">
						<view class="itemheader u-flex u-border-bottom">
							<view class="titlle">编码</view>
							<view class="u-flex-1"></view>
							<text style="color: ;"> 上传成功 </text>
							<!-- <u-icon name="arrow-right" color="#999" size="8"></u-icon> -->
						</view> 
						<view class="itemfooter u-flex">
							<view>大码（ 小码数量：10） </view>
							<view class="u-flex-1"></view>
							<view>
								<u-button shape="circle" size="small" type="info">
									查看小码</u-button>
							</view>
							<view>
								<u-button shape="circle" size="small" type="error" @click="_remove(index)">
									重新上传
								</u-button>
							</view>
					
						</view>
					</view>
					<u-loadmore :status="status" />
				
				</view>
		</view>

		
		<!-- 		<u-picker :show="show" :columns="columns" keyName="label"></u-picker>
		<u-toast ref="uToast"></u-toast>
		<u-modal :show="codeShow" :title="code" confirmText="加入队列" @confirm="_confirm" @cancel="_cancel"
			:showCancelButton="true"></u-modal>

		<u-modal :show="submitShow" title="确认提交" :content="`确认入库（${uploadList.length}个订单）？`" @confirm="_suresubmit"
			@cancel="_cancel" :showCancelButton="true"></u-modal> -->
			
			
	</view>
</template>

<script>
	import baseModal from '@/common/baseModal.js'
	import Suppliers from '@/components/suppliers.vue'
	import Warehouse from '@/components/warehouse.vue'
	import Products from '@/components/products.vue'
	import Merchant from '@/components/merchant.vue'

	export default {
		data() {
			return {
				guid: '--',
				orderNum: 0, //订单数量 
				init: false, //是否可以开始入库
				code: '', //产品二维码	
				codeShow: false,
				submitShow: false,

				uploadList: [], //入库列表
				value: 1,
				title: '委屈翁群无',
				loginParams: {},
				show: false,
				lists: [1, 1, 1, 1, 1, 1, 1],
				loading: true,
				
				formData: {
					codes: [],
					supplier_id: '',
					batch_no: '',
					merchant_id: '',
					product_id: '',
					re_in: 0
				},
				supplier: null,
				merchant: null,
				product: null,

				status: 'loading'
			}
		},
		mixins: [
			baseModal
		],
		onLoad() { 
		},
		components: {
			Suppliers,
			Warehouse,
			Products,
			Merchant
		},
		onPullDownRefresh(){
			console.log(111)
		},
		onReachBottom(){
			console.log(222)
		},
		methods: {

			//picker选择项
			_nav(k) {
				 uni.navigateTo({
				 	url:'/pages/logsDetail/imndex'
				 })
			},
 
		}
	}
</script>

<style scoped lang="scss">
	.pages {
		padding: 20rpx;
		padding-top: 140rpx;
		position: relative;
		.items {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			z-index: 1;
			background: #fff;
			border-radius:  0 0 16rpx 16rpx;
			padding: 0 20rpx;
			margin-bottom: 16rpx;
			background-color: #0a0;
			color: #fff;
			.item_header {
				height: 60rpx;
				line-height: 60rpx;

			}

			.item_content {
				padding: 12rpx 0;

				.cells {
					line-height: 1.4;
					font-size: 24rpx;
				}
			}
		}
	
		.uploadItem {
			background-color: #fff;
			padding: 0 16rpx;
			border-radius: 10rpx;
			// margin-bottom: 16rpx;
			margin:  0 0 16rpx 0;
		
			.itemheader {
				padding: 16rpx 0;
			}
		
			.itemBody {
				padding: 16rpx 0;
		
				.itemcells {
					line-height: 40rpx;
				}
			}
		
			.itemfooter {
				padding: 16rpx 0;
			}
		}
	}
</style>
	