<template>
	<view>


		<view class="pages">

			<!-- <view class="pagesHeader">
				<view class="rows ">
					<view class="label">批次号:</view>
					<view class="u-flex-1  content">{{guid}}</view>
				</view>
			</view> -->
			<view class="formBox">
				<u-cell-group>
					<view class="cells u-flex u-border-bottom" style="background-color: #f4f4f4;padding: 0 30rpx">
						<view class="u-flex ">
							<view class="label">订单数量:</view>
							<view class="u-flex-1">
								<u-number-box v-model="orderNum" :min="0"></u-number-box>
								<!-- <u-input v-model="orderNum" class="u-flex-1" placeholder="请输入订单数量" type="number" /> -->
							</view>

						</view>
						<view class="u-flex-1"> </view>
						<view class="line"></view>
						<view class="u-flex " :class="valid?'success':'error'">
							<view class="label">扫码次数:</view>
							<view class="u-flex-1">{{uploadList.length}}</view>
							<!-- <u-input v-model="loginParams.username"  class="rowsInput"  placeholder="扫码次数" type="number" @focus="_lock" @blur="_unlock" /> -->
						</view>
					</view>
					<u-cell title="批次号" arrow-direction="right">

						<text slot='value' style="color: #4bcb1a;"> {{guid}}</text>
					</u-cell>
					<u-cell title="入库仓库" :value="warehouse&& warehouse.name || '请选择入库仓库'" arrow-direction="right" isLink
						:disabled="init" @click="_selectpicker(0)"></u-cell>
					<u-cell title="供应商" :value="supplier && supplier.name || '请选择供应商'" arrow-direction="right" isLink
						:disabled="init" @click="_selectpicker(1)"></u-cell>
					<u-cell title="产品名称" :value="product && product.name || '请选择产品'" arrow-direction="right" isLink
						:disabled="init" @click="_selectpicker(2)"></u-cell>
					<view class="cells u-flex u-border-bottom" v-if="init">
						<view class="label">二维码</view>
						<u-input v-model="currentCode.code" class="u-flex-1 cellsInput" clearable placeholder="请输入二维码编码"
							type="text" />
						<view class="actions u-flex-y" @click="_scanCode">
							<u-icon name="scan" color="#4bcb1a" size="40"></u-icon>
						</view>
					</view>

					<view class="actionBox u-flex">
						<view class="u-flex-1"></view>
						<u-button shape="circle" plain type="primary" v-if="init" @click="_scanCode" readonly>
							立即扫码</u-button>
						<u-button shape="circle" type="warning" v-if="!init" @click="_startCheck">
							开始入库</u-button>
						<u-button shape="circle" type="primary" v-if="init" @click="_submit"
							:disabled="uploadList.length==0">
							确认上传({{uploadList.length}})</u-button>
					</view>
				</u-cell-group>

			</view>

			<scroll-view scroll-y="true" class=" scrollBox">

				<view v-for="(item,index) in uploadList" :key="index" class="uploadItem">
					<view class="itemheader u-flex u-border-bottom">
						<view class="titlle">编码：<text> {{item.code}}</text></view>
						<view class="u-flex-1"></view>
						<view> 状态：
							<text :class="item.status==1?'success':'error'">{{item.status==1?"正常":"异常码"}}</text>


						</view>
						<!-- <u-icon name="arrow-right" color="#999" size="8"></u-icon> -->
					</view>
					<!-- <view class="itemBody u-border-bottom">
						<view class="itemcells">产品名称：132213123</view>
						<view class="itemcells">供应商：132213123</view>
					</view> -->
					<view class="itemfooter u-flex">
						<view>码类型： <text>{{item.type==1?'大码':'小码'}}</text></view>
						<view class="u-flex-1"></view>
						<view> 
							<u-button shape="circle" size="small" type="info" @click="_preview(item)" v-if="item.nums">
								查看小码({{item.nums}})</u-button>
						</view>
						<view>
							<u-button shape="circle" size="small" type="error" @click="_remove(index)">
								删除</u-button>
						</view>

					</view>
				</view>
				<u-empty v-if="uploadList.length==0" mode="list" icon="http://cdn.uviewui.com/uview/empty/car.png">
				</u-empty>
			</scroll-view>
		</view>

		<Suppliers ref="suppliers" @success="_selectSuppliers" />
		<Warehouse ref="warehouse" @success="_selectWarehouse" />
		<Products ref="products" @success="_selectProducts" />
		<!-- <Merchant ref="merchant"   @success="_selectMerchant"  /> -->


		<u-popup :show="previewShow" @close="_close" mode="right">
			<view class="previewBox">

				<u-list>
					<u-list-item v-for="(it, index) in previewCode" :key="index">
						<u-cell :title="it.code"> </u-cell>
					</u-list-item>
				</u-list>
			</view>
		</u-popup>
		<u-toast ref="uToast" :duration="1000"></u-toast>


		<u-modal :show="resultShow" title="入库成功" :showConfirmButton="false">
			<view class="slot-content u-flex u-flex-y">
				<u-icon name="checkmark-circle-fill" color="#4bcb1a" size="60"></u-icon>
				<view class="success" style="margin-top: 30rpx;">上传成功：{{success_codes.length}}</view>
				<view class="error" style="margin-top: 10rpx;">上传失败：{{error_codes.length}}</view>
				<view class="u-flex btns">
					<u-button shape="circle" type="info" @click="_history">
						查看历史</u-button>
					<u-button shape="circle" type="primary" @click="_reset">
						继续检测 </u-button>
				</view>
			</view>
		</u-modal>
	</view>
</template>

<script>
	import baseModal from '@/common/baseModal.js'
	import Suppliers from '@/components/suppliers.vue'
	import Warehouse from '@/components/warehouse.vue'
	import Products from '@/components/products.vue'
	import Merchant from '@/components/merchant.vue'

	export default {
		data() {
			return {
				guid: '--',
				orderNum: 0, //订单数量 
				init: false, //是否可以开始入库
				currentCode: {
					code: ''
				}, //产品二维码	
				previewCode: [],
				previewShow: false,

				codeShow: false,
				resultShow: false,

				uploadList: [], //入库列表 

				show: false,



				supplier: null,
				merchant: null,
				product: null,
				warehouse: null,

				success_codes: [],
				error_codes: []
			}
		},
		mixins: [
			baseModal
		],
		onLoad() {
			this.guid = this._createValidId()
		},
		components: {
			Suppliers,
			Warehouse,
			Products,
			Merchant
		},
		computed: {
			valid() {
				return this.orderNum == this.uploadList.length ? true : false
			}
		},
		methods: {

			// 查看历史
			_history() {

				uni.navigateTo({
					url: '/pages/insLogs/index'
				})

				this._reset()
			},
			_reset() {
				this.resultShow = false;
				this.success_codes = []
				this.error_codes = []
				this.orderNum = 0
				this.init = false
				this.previewCode = []
				this.uploadList = []

				this.supplier = null
				this.product = null
				this.warehouse = null
				this.currentCode = null
				
				this.guid = this._createValidId()
			},
			_preview(item) {
				// debugger
				this.previewCode = [
					...item.small_codes
				]
				// debugger
				this.previewShow = true
			},
			_close() {
				this.previewShow = false
			},
			// 手动加入队列
			_readyAdd() {

			},
			//picker选择项
			_selectpicker(k) {
				if (this.init) return;
				switch (k) {


					case 0:
						this.$refs.warehouse._show()
						break;
					case 1:
						this.$refs.suppliers._show()
						break;
					case 2:
						// debugger
						this.$refs.products._show()
						break;

					default:
						break;
				}
			},

			//产品选择回调
			_selectProducts(data) {
				// console.log(data)
				this.product = data
			},
			//仓库 回调
			_selectWarehouse(data) {
				this.warehouse = data
			},
			// 供应商选择回调
			_selectSuppliers(data) {
				this.supplier = data
				// debugger
			},
			// _suresubmit() {
			// 	this.submitShow = false
			// },
			_confirm() {
				this.codeShow = false
				this._addList()
			},
			_cancel() {
				// this.codeShow = false
				// this.submitShow = false
			},
			//扫码
			_scanCode() {
				this._checkCode('181000373')
				return;
				let that = this;
				uni.scanCode({
					success: function(res) {

						console.log('条码内容：' + res.result);

						if (res.result) {
							let ress = res.result.split('code=')
							console.log('code：' + ress[1]);
							if (ress[1]) {
								// that.code = ress[1];
								that._checkCode(ress[1])
							}

						}


					}
				});

			},

			// 验证 订单码
			async _checkCode(code) {
				let that = this
				try {
					this.$ui.showloading()
					const res = await this.$api.Business.get_checkCode(code)
					this.$ui.hideloading()
					console.log(res)
					let n = {
						type: res.type,
						nums: res.type == 1 && res.small_codes ? res.small_codes.length : 0,
						code: res.code,
						status: 1,
						small_codes: res.small_codes
					}
					this.currentCode = n;
					this._addList()
					
				} catch (e) {
					// 10001是已入库，
					// 10002 未查询到码信息
					this.$ui.hideloading()
					if (e.code) {
						
						if (e.code == 10001) {
							// this.$ui.hideloading()
							// 10001是已入库，
							this.$ui.toast('已存在，不可重复入库')
							return

						} else if (e.code == 10002) {
							
							// 10002 未查询到码信息
							uni.showModal({
								title: '未查询到相关码信息',
								content: '添加到上传队列？',
								success(res) {
									if (res.confirm) {
										let n = {
											type: 0,
											nums: 0,
											code: code,
											status: 0,
											small_codes: []
										}
										that.currentCode = n;
										that._addList()
									} else {

									}
								}
							})
						}


					}

				}
				
			},
			//上传入库列表
			async _submit() {
				// this.submitShow = true
				if (!this.valid) {
					this.$ui.toast('请核对订单码数量')
					return
				}
				let that = this
				let data = {

					"batch_no": this.guid,
					"product_id": this.product.id,
					"depot_id": this.warehouse.id,
					"supplier_id": this.supplier.id
				}
				data.codes = this.uploadList.map(it => {
					return {
						code: it.code,
						type: it.type
					}
				})
				// debugger
				try {
					this.$ui.showloading()
					const res = await this.$api.Business.post_ins(data)

					console.log(res)
					this.success_codes = res.success_codes
					this.error_codes = res.error_codes
					this.resultShow = true
				} catch (e) {
					// 10001是已入库，
					// 10002 未查询到码信息
					console.log('e', e)


				}
				this.$ui.hideloading()
			},
			// 上传列表移除
			_remove(index) {
				this.uploadList.splice(index, 1)
			},
			// 加入上传列表
			_addList() {
				if (!this.currentCode) {
					this.$refs.uToast.show({
						message: '请先扫描二维码'
					});
					return
				}
				let arr = this.uploadList.map(it => it.code)
				if (arr.indexOf(this.currentCode.code) < 0) {
					this.uploadList.push({
						...this.currentCode
					})
				} else {
					this.$ui.toast('不可重复添加')
				}


				// this.currentCode = {code:''}
			},
			// 开始检测
			_startCheck() {
				if (!this.orderNum) {
					// this.$ui.toast();
					this.$refs.uToast.show({
						message: '请先输入货物数量'
					});
					return
				}
				if (!this.product) {
					// this.$ui.toast();
					this.$refs.uToast.show({
						message: '请选择产品'
					});
					return
				}
				if (!this.warehouse) {
					// this.$ui.toast();
					this.$refs.uToast.show({
						message: '请选择入库仓库'
					});

					return
				}
				if (!this.supplier) {
					// this.$ui.toast();
					this.$refs.uToast.show({
						message: '请选择供应商'
					});

					return
				}
				this.init = true

			},
			_show() {
				this.show = true
			},
			_lock() {},
			_unlock() {},
			changeHandler() {}
		}
	}
</script>

<style scoped lang="scss">
	.pages {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: center;
		align-items: center;

		.pagesHeader {
			width: 100vw;
			background-color: $uni-color-primary;
			padding: 20rpx;
			padding-top: 0;
			color: #fff;

			.rows {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40rpx;

				.label {
					width: 120rpx;
					margin-right: 16rpx;
				}

				.content {
					flex: 1;
					text-align: right;
				}
			}

			.line {
				width: 2rpx;
				height: 40rpx;
				background: #fff;
				margin: 0 16rpx;
				background-color: #4bcb1a;
			}

			.rowsInput {
				background-color: #fff;
				border-radius: 8rpx;
				color: #333;
				padding: 0 16rpx !important;
				font-size: 24rpx;
			}
		}

		.formBox {
			background-color: #fff;
			width: 100vw;
			box-shadow: 0 6rpx 12rpx #c0d6be;

			.cells {
				padding: 0 0 0 32rpx;
				height: 88rpx;
				// border-bottom: 1rpx solid rgb(214, 215, 217);

				.label {
					width: 120rpx;
					margin-right: 16rpx;
				}

				.cellsInput {
					// height: 100%;
				}
			}

			.actions {
				width: 80rpx;
				height: 80rpx;
				text-align: center;

				// background-color: #f1f1f1;
				&:active {
					background-color: #f1f1f1;
				}
			}

			.actionBox {
				padding: 16rpx 32rpx;
			}
		}

		.scrollBox {
			width: 100vw;
			flex: 1;
			padding: 20rpx;
			overflow: hidden;

			.uploadItem {
				background-color: #fff;
				padding: 0 16rpx;
				border-radius: 10rpx;
				// margin-bottom: 16rpx;
				margin: 0 16rpx 16rpx 16rpx;

				.itemheader {
					padding: 32rpx 0;
				}

				.itemBody {
					padding: 16rpx 0;

					.itemcells {
						line-height: 40rpx;
					}
				}

				.itemfooter {
					padding: 16rpx 0;
				}
			}
		}

		.success {
			color: #00BE00
		}

		.error {
			color: red;
		}


	}

	.previewBox {
		width: 65vw;
		height: 100vh;
		background-color: #fff;
		// padding-top: 80rpx;
	}
	.slot-content{
		width: 100%;
		.btns{
			width:100%;
			margin-top: 40rpx;
		}
	}
</style>
